
.owl-dots{
  position: absolute;
  bottom: 22px;
  right: 20px;
  @include flex-aligncenter;
  gap: 8px;
  z-index: 999999;
  @include tablet{
    bottom: 38px;
    right: 100px;
  }
  .owl-dot{
    height: 12px;
    width: 12px;
    border-radius: 1000px;
    background-color: var(--primary-color) !important;
    opacity: 0.25;
    z-index: 99999;
    &.active{
      opacity: 1;
    }
  }
  button[role="button"]{
    &:after{
      display: none!important;
    }
  }
}