header {
  background: $bg-color;
  padding: 16px 0;
}

.header {
  &_wrap {
    @include flex-aligncenter;
    justify-content: start;
    @include tablet {
      justify-content: space-between;
    }

    .site-branding {
      height: max-content;
      @include flex-aligncenter;
      max-width: 160px;
      @include tablet {
        width: auto;
      }
      @include desktop {
        max-width: unset;
      }
    }

    .nav__wrapper {
      margin-left: auto;
    }
  }
}

.btn-book {
  padding: 24px;
  @include desktop {
    padding: 12px 40px 12px 60px;
  }

  &:before {
    @include tablet {
      left: 28px;
      height: 21px;
    }
    @include desktop{
      left: 40px;
    }
  }

  &-text {
    display: block;
    font-size: 10px;
    line-height: 1.2;
    @extend %semi-bold;
  }

  .phone {
    display: block;
    font-size: 14px;
    line-height: 1.2;
    @extend %regular;
    white-space: nowrap;
  }

  &__content {
    display: none;
    @include desktop {
      display: block;
    }
  }
}