header {
  background: $bg-color;
  padding: 16px 0;
}

.header {
  &_wrap {
    @include flex-aligncenter;
    justify-content: space-between;
  }
  .site-branding{
    height: max-content;
    @include flex-aligncenter;
    width: 160px;
    @include tablet{
      width: auto;
    }
  }
}

.btn-book {
  &-text {
    display: block;
    font-size: 10px;
    line-height: 1.2;
    @extend %semi-bold;
  }

  .phone {
    display: block;
    font-size: 14px;
    line-height: 1.2;
    @extend %regular;
  }
  &__content{
    display: none;
    @include tablet{
      display: block;
    }
  }
}