.hero {
  padding-top: 40px;
  background: $bg-color;
  @include tablet{
    padding-top: 60px;
  }

  &__wrapper {
    @include flex-aligncenter;
    flex-direction: column;
    padding-left: 5%;
    gap: 40px;
    @include tablet{
      flex-direction: row;
      padding-left: 13%;
    }
  }

  &__title {
    font-size: 30px;
    line-height: 1.3;
    @include tablet{
      font-size: 32px;
      line-height: 1.2;
      font-weight: 800;
    }
    @include desktop{
      font-size: 3.75rem;
      line-height: 4.5rem;
    }
  }

  &__content {
    width: 100%;
    @include tablet {
      width: calc((100% - 40px) / 2);
    }
  }

  &__desc {
    @extend %regular;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 0;
    @include tablet{
      margin-top: 20px;
      font-size: 18px;
    }
    @include desktop{
      font-size: 20px;
    }
  }

  &__img {
    width: 100%;
    @include tablet {
      width: calc((100% - 40px) / 2);
    }

    img {
      clip-path: polygon(24% 0, 100% 0, 100% 100%, 0% 100%);
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}